#comment {
  height: 100vh;
}
.comments {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 60px;
}
.static-paragrph {
  text-align: center;
  font-size: 13px;
  color: #b0c4ded1;
}
.submiter {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  padding: 0 40px;
}
.submiter .row_form {
  margin: 0px;
  display: grid;
  grid-template-columns: 80% 20%;
}
.submiter .row_form input {
  height: 50px;
  color: #b0c4de;
  font-size: 25px;
  background: #2c2f33;
  padding-left: 30px;
}
.submiter .row_form input::placeholder {
  color: #b0c4de;
}



SELECT B.ID, B.Name, B.ManagerID, A. DivisionName, B.Salary
from B
join A on B.DivisionID = A.ID
and where B. ManagerID B.ID order by B.Salary desc
limit 1 offset 2